<div class="pcoded-content">

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">{{ name_auto }}</h5>
                        <p class="m-b-0">_____________________</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Карточка авто</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="card product-detail-page">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-5 col-xs-12">
                                            <div class="port_details_all_img row">
                                                <div class="col-lg-12 m-b-15">
                                                    <div id="big_banner">
                                                        <div class="port_big_img">
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/{{ img_url }}"
                                                                 alt="Big_ Details">
                                                        </div>
                                                        <div class="port_big_img">
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_2.jpg"
                                                                 alt="Big_ Details">
                                                        </div>
                                                        <div class="port_big_img">
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_3.jpg"
                                                                 alt="Big_ Details">
                                                        </div>
                                                        <div class="port_big_img">
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_4.jpg"
                                                                 alt="Big_ Details">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 product-right">
                                                    <div id="small_banner">
                                                        <div>
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/{{ img_url }}"
                                                                 alt="small-details">
                                                        </div>
                                                        <div>
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_2.jpg"
                                                                 alt="small-details">
                                                        </div>
                                                        <div>
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_3.jpg"
                                                                 alt="small-details">
                                                        </div>
                                                        <div>
                                                            <img class="img img-fluid"
                                                                 src="/assets/images/auto/auto1_4.jpg"
                                                                 alt="small-details">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-7 col-xs-12 product-detail"
                                             id="product-detail">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 mob-product-btn">


                                                    <div>
                                                        <div class="col-lg-12">
                                                                            <span class="txt-muted d-block">ID авто:
                                                                                <span>{{ id }}</span>
                                                                            </span>
                                                            <span class="txt-muted d-block">Доступность:
                                                                <!--                                                                               in_rent_or_free         -->
                                                                                <span
                                                                                        class="text-primary">{{ status_accessibility }}</span>
                                                                            </span>
                                                        </div>

                                                        <div class="col-lg-12">
                                                            <h4 class="pro-desc">{{ name_auto }}
                                                            </h4>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <!--                                                                            yes_or_not-->
                                                            <span class="txt-muted">Автоматическая КПП:
                                                                                {{ transmission  }}
                                                                            </span>
                                                        </div>

                                                        <div
                                                                class="stars stars-example-css m-t-15 detail-stars col-lg-12">
                                                            <select id="product-view"
                                                                    class="rating-star" name="rating"
                                                                    autocomplete="off">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-lg-12">
                                                                            <span
                                                                                    class="text-primary product-price">{{ rent_price }}
                                                                                руб/мин</span>
                                                            <hr>
                                                            <p>{{ describe }}
                                                            </p>
                                                            <hr>
                                                        </div>

                                                    </div>

                                                    <form action="/auto_detail/{{ id }}" method="post"
                                                          class="d-inline-block">

                                                        <div class="form-group">
                                                            <label for="exampleInputTitle">Новое название авто:</label>
                                                            <input type="text" class="form-control"
                                                                   id="exampleInputTitle" aria-describedby="titleHelp"
                                                                   name="new_name" value="{{ name_auto }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputDescription">Новое описание:</label>
                                                            <input type="text" class="form-control"
                                                                   id="exampleInputDescription" name="new_describe"
                                                                   value="{{ describe }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputCost">Новая цена:</label>
                                                            <input type="number" value="{{ rent_price }}" min="0"
                                                                   step="0.01" class="form-control"
                                                                   id="exampleInputCost" name="new_rent_price">
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="exampleImg">Новое изображение:</label>
                                                            <input type="text" class="form-control" id="exampleImg"
                                                                   aria-describedby="ImgHelp"
                                                                   name="new_img_url" value="{{ img_url }}">
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-sm-12">Автоматическая
                                                                КПП:</label>
                                                            <div class="col-sm-12">

                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="radio"
                                                                               name="new_transmission"
                                                                               id="transmission-1"
                                                                               value=1
                                                                               {{ ch_value[0] }}> ДА
                                                                    </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input class="form-check-input" type="radio"
                                                                               name="new_transmission"
                                                                               id="transmission-2"
                                                                               value=0
                                                                               {{ ch_value[1] }}
                                                                        > НЕТ
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <button type="submit"
                                                                class="btn btn-outline-primary waves-effect waves-light m-r-20">
                                                            <i
                                                                    class="icofont icofont-edit f-16"></i>
                                                            <span class="m-l-10">Изменить!</span>
                                                        </button>

                                                    </form>


                                                    <form action="/create_rental/{{ id }}" method="post"
                                                          class="d-inline-block">
                                                        <button type="submit"
                                                                class="btn btn-success waves-effect waves-light m-r-20">
                                                            <i
                                                                    class="icofont icofont-cart-alt f-16"></i>

                                                            <span
                                                                    class="m-l-10">{{ status_title }}</span>
                                                        </button>

                                                    </form>

                                                    <form action="/del_auto/{{ id }}" method="post"
                                                          class="d-inline-block">
                                                        <button type="submit"
                                                                class="btn btn-outline-danger waves-effect waves-light m-r-20">
                                                            <i
                                                                    class="icofont icofont-ui-delete f-16"></i>
                                                            <span class="m-l-10">Удалить</span>
                                                        </button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card product-detail-page">
                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active f-18 p-b-0" data-toggle="tab"
                           href="#description" role="tab">История аренды</a>
                        <div class="slide"></div>
                    </li>
                </ul>
            </div>


            <div class="card">
                <div class="card-block">

                    <div class="tab-content bg-white">
                        <div class="tab-pane active" id="description" role="tabpanel">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Дата начала аренды</th>
                                    <th scope="col">Дата завершения аренды</th>
                                    <th scope="col">Общая стоимость аренды</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for rental in list_price %}
                                <tr>
                                    <th scope="row"> {{ rental.i }}</th>
                                    <td>{{ rental.created }}</td>
                                    <td>{{ rental.completion }}</td>
                                    <td>{{ rental.rent }} руб.</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



