<div class="pcoded-content">

    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Журнал аренды</h5>

                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Журнал аренды</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5>Журнал аренды</h5>

                                </div>
                                <div class="card-block">
                                    <div class="table-responsive">
                                        <div class="table-content">
                                            <div class="project-table">
                                                <table id="e-product-list"
                                                       class="table table-striped dt-responsive nowrap">
                                                    <thead>
                                                    <tr>
                                                        <th>№ п/п</th>
                                                        <th>Image</th>
                                                        <th>Автомобиль</th>
                                                        <th>Количество бронирований</th>
                                                        <th>Общее время аренды</th>
                                                        <th>Общая стоимость аренды</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for rental in list_price %}
                                                    <tr>
                                                        <td>{{ rental.i }}</td>
                                                        <td class="pro-list-img">
                                                            <img src="/assets/images/auto/{{ rental.img }}"
                                                                 class="log-img-fluid" alt="tbl">
                                                        </td>
                                                        <td class="pro-name">
                                                            <h6>{{ rental.name }}</h6>
                                                            <span>{{ rental.describe }}</span>
                                                        </td>
                                                        <td>{{ rental.count_rent }}</td>
                                                        <td>{{ rental.time_rent }} мин.</td>
                                                        <td>{{ rental.rent }} руб.</td>

                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




